.env
db.sqlite3
log.txt
mrspenv/
env/
mrsp.sock
uwsgi_params
mrsp/settings_prod.py
upload/
**/migrations/
**/__pycache__/
__pycache__/
.idea
gunicorn.service
gunicorn.socket
mrsp.conf
mrsp/settings_old.py
static/admin/
db.sqlite3
