{% extends 'portal/index0.html' %}
{% load widget_tweaks %}

{% block main %}
    <form method="post" novalidate enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-title">
            Re-upload Files
        </div>
        {% for field in form.visible_fields %}
            {% if forloop.counter0 in indices %}
                <div class="input-group">
                    {{ field.label_tag }}
                    <label for="id_{{ field.name }}" class="file-input-parent">
                        <snap class="file-input-value help-text">Select a file</snap>
                        {% render_field field spellcheck='false' %}
                    </label>
                    {% if field.errors and retrying %}
                        {% for error in field.errors %}
                            <div class="error-message">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
        <div class="input-group submit-input-group">
            <button type="button" class="secondary" onclick="location.href='{% url 'index' %}'">
                Back to Home
            </button>
            <input type="submit">
        </div>
    </form>
{% endblock %}

{% block script %}
    <script id="script" type="application/javascript">
        const fileInputPars = document.getElementsByClassName('file-input-parent');
        Array.prototype.forEach.call(fileInputPars, function (el) {
            el.onchange = function () {
                const inp = el.getElementsByTagName('input')[0];
                const label = el.getElementsByClassName('file-input-value')[0];
                if (inp.value === '') {
                    label.innerHTML = 'Select a file';
                    label.classList.add('help-text');
                } else {
                    label.innerHTML = inp.value.replace(/.*[\/\\]/, '');
                    label.classList.remove('help-text');
                }
            }
        });
    </script>
{% endblock %}