{% extends 'portal/index0.html' %}

{% block main %}
    <main>
        <form id="intro">
            <div class="form-title">
                Submitted.
            </div>
            <div class="input-group para-group center">
                <p>Your application has been successfully submitted and added to the waitlist.</p>
                <a href="{% url 'index' %}">
                    <button type="button" onclick="location.href = '{% url 'index' %}'">
                        Back to Home
                    </button>
                </a>
            </div>
        </form>
    </main>
{% endblock %}